:root {
    --max-width: 1200px;
  }
  

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

.container {
    /* margin: 0 auto; */
    width: 100%;
    max-width: var(--max-width);
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.dark-background b {
    font-size: 24px;
}

.dark-background ul {
    display: flex;
    list-style: none;
    padding: 0 1.5rem;
    gap: 1.5rem;
}

.dark-background li {
    display: flex;
}

.dark-background a {
    color: white;
    text-decoration: none;
}

.left-bar, .right-bar {
    display: flex;
    align-items: center;
}

.dark-background {
    color: white;
    background-color: #1F2937;
}

.dark-background h1 {
    font-size: 48px;
    font-weight: bold;
}

.dark-background p {
    font-size: 18px;
    color: #e5e7eb;
}

.padding-1 {
    padding: 1.5rem;
    box-sizing: border-box;
}

.hero {
    display: flex;
    box-sizing: border-box;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-wrap: wrap;
    }
}

.gap-3 {
    gap: 3rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-image {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.hero-image img {
    align-self: center;
    width: 100%;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
}

.hero p {
    font-size: 24px;
    color: #f0faf8;
}

.fancyBtn {
    background-color: #3882F6;
    color: #f0faf8;
    font-weight: bold;
    font-size: medium;
    align-self: flex-start;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.quote-background {
    background-color: #e5e7eb;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}